@model CarGarageParking.Models.Garage;

@{
	ViewData["Title"] = "Delete garage";
}
<head>
	<link rel="stylesheet" href="~/css/DeleteGarage.css"/>
</head>

<div class="full">
	<div class="container">
		<div class="row">
			<h1 class="text-center col-12 mt-3">Delete a garage</h1>
			
			<div class="col-md-12">
				<hr class="m-0 mt-3 text-center" />
				<ul class="list-group">
					<li class="list-group-item  list-group-item-action text-muted">Garazni broj: @Model.GarageId</li>
					<li class="list-group-item  list-group-item-action text-primary">Naziv: @Model.Name</li>
					<li class="list-group-item  list-group-item-action text-muted">Lokacija: @Model.Location</li>
					<li class="list-group-item  list-group-item-action text-muted">Kapacitet: @Model.Capacity</li>
					<li class="list-group-item  list-group-item-action text-muted">Broj zauzetih mesta popunjenosti: @Model.CurrentOccupancy</li>
					<li class="list-group-item  list-group-item-action text-muted">Broj trenutno slobodnih mesta: @Model.AvailableSpots</li>
					<li class="list-group-item  list-group-item-action text-muted">Procenat popunjenosti: @Math.Ceiling(Model.CurrentOccupancy / (double)Model.Capacity * 100)%</li>
					@if (Model.IsFull == true)
					{
						<li class="list-group-item  list-group-item-action text-danger"><strong>Garaza je puna</strong></li>
					}
					else
					{
						<li class="list-group-item  list-group-item-action text-success"><strong>Garaza nije puna</strong></li>
					}
				</ul>
			</div>

			<form asp-action="DeleteConfirmed" asp-controller="Garage" method="post" class="col-md-12 text-center mt-3 mb-3">
				<input type="hidden" asp-for="GarageId" />

				<button type="submit" class="btn btn-danger">Delete garage</button>
				<a href="@Url.Action("Index", "Garage")" class="btn btn-primary">Return to all garages</a>
			</form>
		</div>
	</div>
</div>


