@model CarGarageParking.Models.ViewModel.PaginationViewModel<CarGarageParking.Models.Garage>

@{
	ViewData["Title"] = "Garage";
}

<form asp-controller="Garage" asp-action="Index" method="get">
	<label for="Name">Name: </label>
	<input type="text" name="Name" id="Name" value="@Context.Request.Query["Name"]" />

	<label for="Location">Location: </label>
	<input type="text" name="Location" id="Location" value="@Context.Request.Query["Location"]" />

	<label for="AvailableSpots">Sort by spots available: </label>
	<input type="number" step="1" min="0" name="AvailableSpots" id="AvailableSpots" value="@Context.Request.Query["AvailableSpots"]" />

	<button type="submit" class="btn btn-primary">Search</button>
	<a href="@Url.Action("Index", "Garage")" class="btn btn-secondary">Clear</a>
</form>


<div class="garage-list">
	@foreach (Garage garage in Model.Colection)
	{
		<div class="card mb-3">
			<div class="image"></div>
			<div class="card-body">
				<h5 class="card-title">Naziv garaze: @garage.Name</h5>
				<p class="card-text mb-0">Broj slobodnih mesta: @garage.AvailableSpots</p>
				<p class="card-text mb-0">Procenat popunjenosti: @Math.Floor(garage.CurrentOccupancy / (double)garage.Capacity * 100)% </p>
				@if (garage.IsFull == true)
				{
					<h3 class="text-danger">Garaza je puna</h3>
				}
				else
				{
					<h3>Garaza nije puna</h3>
				}
				<p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
				<a href="@Url.Action("Info", "Garage", new { id = garage.GarageId})" class="btn btn-primary">View more info</a>
				<a href="@Url.Action("Edit", "Garage", new { id = garage.GarageId})" class="btn btn-success">Edit garage</a>
			</div>
		</div>
	}
</div>


@await Html.PartialAsync("_PaginationView", Model)

<style>
	.garage-list{
		padding: 10px;
		border-radius: 10px;
		width: 100%;
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
	}
	.image{
		background-image: url("https://i0.wp.com/pdxshoupistas.com/wp-content/uploads/2018/01/leed_garage.jpg?ssl=1");
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		width: 100%;
		height: 150px;
	}

	.card {
		background-color: transparent;
		border: 1px solid white;
		color: white;
		width: 50%;
	}
	hr{
		color: white;
	}
</style>