@model IEnumerable<CarGarageParking.Models.Garage>

@{
	ViewData["Title"] = "Garage";
}

<form asp-controller="Garage" asp-action="Index" method="get">
	<label for="Name">Name: </label>
	<input type="text" name="Name" id="Name" value="@Context.Request.Query["Name"]" />

	<label for="Location">Location: </label>
	<input type="text" name="Location" id="Location" value="@Context.Request.Query["Location"]" />

	<label for="AvailableSpots">Sort by spots available: </label>
	<input type="number" step="1" min="0" name="AvailableSpots" id="AvailableSpots" value="@Context.Request.Query["AvailableSpots"]" />

	<button type="submit" class="btn btn-primary">Search</button>
	<a href="@Url.Action("Index", "Garage")" class="btn btn-secondary">Clear</a>
</form>


<div class="garage-list">
	@foreach (Garage garage in Model)
	{
			<div class="card" style="width: 18rem;">
			<img src="https://images.adsttc.com/media/images/63a1/325b/a452/0847/f9e1/b8eb/large_jpg/a-brief-history-of-parking-garage-design_1.jpg?1671508577" class="card-img-top" alt="...">
				<div class="card-body">
					<h5 class="card-title">Naziv garaze: @garage.Name</h5>
					<h5>Broj slobodnih mesta: @garage.AvailableSpots</h5>
					<h3>Procenat popunjenosti: @Math.Ceiling(garage.CurrentOccupancy / (double)garage.Capacity * 100)% </h3>
					@if (garage.IsFull == true)
					{
						<h3 class="text-danger">Garaza je puna</h3>
					}
					else
					{
						<h3>Garaza nije puna</h3>
					}
					<a href="@Url.Action("Info", "Garage", new { id = garage.GarageId})" class="btn btn-primary">View more info</a>
				</div>
			</div>
	}
</div>

<style>
	.garage-list{
		display: flex;
		flex: row;
		padding: 10px;
		border-radius: 10px;
		margin-bottom: 15px;
	}
	.card{
		margin: 20px;
	}
</style>