@model IEnumerable<CarGarageParking.Models.Garage>	

@{
	ViewData["Title"] = "Available garages";
}


@if(ViewBag.SuccessMessage != null)
{
	<div class="alert alert-success">@ViewBag.SuccessMessage .Garage entered at @DateTime.Now</div>	
}
@if (ViewBag.ErrorMessage != null)
{
	<div class="alert alert-danger">@ViewBag.ErrorMessage</div>
}

<h3>Current time: <span id="currentTime"></span></h3>

<div class="garage-list">
	@foreach (Garage garage in Model)
	{
		<div class="card mb-3">
			<div class="image"></div>
			<div class="card-body">
				<h5 class="card-title">Naziv garaze: @garage.Name</h5>
				<p class="card-text mb-0">Broj slobodnih mesta: @garage.AvailableSpots</p>
				<p class="card-text mb-0">Procenat popunjenosti: @Math.Floor(garage.CurrentOccupancy / (double)garage.Capacity * 100)% </p>
				@if (garage.IsFull == true)
				{
					<h3 class="text-danger">Garaza je puna</h3>
				}
				else
				{
					<h3>Garaza nije puna</h3>
				}
				<p class="card-text">
					<small class="text-body-secondary">
						Last updated:
						@if (garage.LastEntryTime.HasValue)
						{
							var minutesAgo = (DateTime.Now - garage.LastEntryTime.Value).TotalMinutes;
							@($"{Math.Floor(minutesAgo)} minutes ago")
						}
						else
						{
							@("No recent entries")
						}
					</small>
				</p>
				<a href="@Url.Action("EnterVehicleDetails", "Home", new { id = garage.GarageId })" class="btn btn-primary">Enter a garage</a>
			</div>
		</div>
	}
</div>

<div class="buttons">
	<a href="@Url.Action("Index", "Home")" class="btn btn-danger">Cancel all</a>
	<a href="@Url.Action("EnterVehicle", "Home")" class="btn btn-warning">Search for another garage</a>
</div>


<style>
	.garage-list {
		padding: 10px;
		border-radius: 10px;
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.image {
		background-image: url("https://i0.wp.com/pdxshoupistas.com/wp-content/uploads/2018/01/leed_garage.jpg?ssl=1");
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		width: 100%;
		height: 150px;
	}

	.card {
		margin: 20px;
	}
	.card{
		background-color: transparent;
		border: 1px solid white;
		color: white;
		width: 50%;
	}
	hr {
		color: white;
	}

	.buttons {
		margin-bottom: 15px;
	}
	h3{
		color: white;
	}
</style>
<script>
	function Time(){
		var now = new Date();

		document.getElementById("currentTime").innerText = now.toLocaleTimeString();
	}
	setInterval(Time, 1000);
	Time();
</script>