@model CarGarageParking.Models.ViewModel.IPaginationViewModel<Garage>

<head>
	<link rel="stylesheet" href="~/css/GarageResult.css" />
	<script src="~/js/Time.js"></script>
</head>

@{
	ViewData["Title"] = "Available garages";
}

<h5>Current time: <span id="currentTime"></span></h5>

@if (ViewBag.SuccessMessage != null)
{
	<div class="alert alert-success">@ViewBag.SuccessMessage .Garage entered at @DateTime.Now</div>
}
@if (ViewBag.ErrorMessage != null)
{
	<div class="alert alert-danger">@ViewBag.ErrorMessage</div>
}

<div class="garage-list">
	@foreach (Garage garage in Model.Colection)
	{
		@await Html.PartialAsync("_GarageHalfCard", garage, new ViewDataDictionary(ViewData) { { "ShowLink", true } })
	}
	<div class="buttons">
		<a href="@Url.Action("Index", "Home")" class="btn btn-danger">Cancel all</a>
		<a href="@Url.Action("EnterVehicle", "Home")" class="btn btn-warning">Search for another garage</a>
	</div>
</div>

<div class="navigation">
	@await Html.PartialAsync("_PaginationViewSearchAGarage", Model)
</div>
